:root {
    --clr-dark: #070a13;
    --clr-light: rgb(241, 245, 249);
    --clr-slate400: #D7BBA8;
    --clr-slate600: #746d60;
    --clr-slate800: #694a5b;
    --clr-rose: #ec7490;
    --clr-indigo: #e26d5a;
    --clr-gray:hsl(0 0% 100% /0.2);
    --clr-rose-btn: #ec7490;
    --clr-scrollup:rgba(199, 186, 186, 0.267);
    --color-bg1: rgb(71, 2, 105);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color6: 180, 30, 70;
    --color-interactive: 140, 100, 255;
    --circle-size: 50%;
    --blending: hard-light;
  
    /* rose rgb(225, 29, 72) */
    /* indigo rgb(79, 70, 229) */
  
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
  }
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
  /* background-color: #746d60; */
}

.light-mode {
  --clr-light: #070a13;
  --clr-dark: #f1f5f9;
  --clr-slate400: #977b7d;
  --clr-slate600: rgb(39, 1, 70);
  --clr-slate800: #3d302f;
  --clr-gray:rgba(43, 45, 48, 0.3);
  --clr-rose-btn:transparent;
  --clr-scrollup:rgba(10, 10, 10, 0.774);

}
/* .conta{
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-dark);
} */
html{
  position: relative;
  height: 100%;
}
body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  position: relative;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
a {
  color: var(--clr-rose);
  text-decoration: none;
}

strong {
  color: var(--clr-indigo);
}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track{
  box-shadow: inset 0 0 0px rgba(0,0,0,0);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--clr-rose);
  outline: 1px solid var(--clr-rose);
}
/* .cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 999;
  pointer-events: none;
}
.cursor-follow{
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 1px solid white;
  z-index:999;
  pointer-events:none ;
} */

@keyframes moveInCircle{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes moveVertical{
  0%{
    transform: translateY(-50%);
  }
  50%{
    transform: translateY(50%);
  }
  100%{
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal{
  0%{
    transform: translateX(-50%) translateY(-10%);
  }
  50%{
    transform: translateX(50%) translateY(10%);
  }
  100%{
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-bg{
  width: 100%;
  height: 700px;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(40deg, var(--clr-rose ), var(--color-bg1));
  bottom: 0px;
  z-index:-2 ;

}

.gradient-bg svg {
    display: none;
  }


.gradient-bg  .gradients-container {
  filter: url(#goo) blur(40px) ;
  width: 100%;
  height: 100%;
}
.g1{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;
}
.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;

  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;

  opacity: 1;
}
.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;

  opacity: 0.7;
}

.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;

  opacity: 1;
}
/* .g6 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color6), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);


  width: calc(var(--circle-size));
  height: calc(var(--circle-size));
  top: calc(50% - var(--circle-size)+ 100px);
  left: calc(50% - var(--circle-size) + 900px);

  transform-origin: calc(50% + 600px) calc(30% + 400px);
  animation: moveInCircle 60s ease infinite;

  opacity: 1;
} */
.interactive{
  position: fixed;
  mix-blend-mode: var(--blending);
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  width: calc(var(--circle-size) * 1);
  height: calc(var(--circle-size) * 1);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0.7;


}
.scrollup{
  position: fixed;
  right: 40px;
  bottom: -50%;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  /* box-shadow: 0 4px 20px 2px var(--clr-scrollup); */
  display: inline-flex;
  padding: 10px;
  font-size: 1.25rem;
  z-index: 9999;
  transition: bottom .4s, transform .4s;
  /* border-radius: 50%; */
  overflow: hidden;
  border-radius: 20px 5px 10px 5px;

}
.scrollup i{
  transition: .4s;
}
.special{
  position: absolute;
  bottom: -1.5rem;
}
/* Show Scroll Up */
.show-scroll{
  bottom: 2.5rem;
}


.social {
  position: fixed;
  left: auto;
  left: 80px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  margin: 0;
  padding: 0;
  /* font-family: Calibre,Inter,San Francisco,SF Pro Text,-apple-system,system-ui,sans-serif;
  font-size: 20px; */
  color: var(--clr-light);
  opacity: 1;
  line-height: 1.3;
  list-style: none;
  z-index: 999;
  /* filter: drop-shadow(0px 0px 2px var(--clr-light)); */
  
}

.social::after {
  content: "";
  display: block;
  width: 2px;
  height: 50px;
  margin: 0 auto;
  background-color: currentColor;
}

.social__item {
  position: relative;
}

.social__item:last-of-type {
  margin-bottom: 20px;
}


.social__link {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: all .25s cubic-bezier(.645,.045,.355,1);
}

/* .social__link:hover,.social__link:focus {
  color: var(--clr-rose);
} */

/* .social__link:focus-visible {
  outline: 2px dashed rgb(100,255,218);
  outline-offset: 3px;
} */
/* .social__link{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: all .25s cubic-bezier(.645,.045,.355,1);
 } */
/* @keyframes fade-enter-done{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
} */
/* .fade-enter-done {
  opacity: 0;
  transition: all s cubic-bezier(.645,.045,.355,1);
  animation: fade-enter-done s forwards;
} */

/* @media (max-width: 1080px) {
  .social {
    left:20px;
  }
} */

.email {
  position: fixed;
  left: 40px;
  right: auto;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  margin: 0;
  padding: 0;
  
  font-size: 15px;
  color: var(--clr-light);
  line-height: 18px;
  letter-spacing: .1em;
  z-index: 999;
  opacity: 1;
}

.email::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0 auto;
  background-color: currentColor;
}

.email__link {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
  color: inherit;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  writing-mode: vertical-lr;
  font-weight: 600;
}

.email__link:focus-visible {
  /* outline: 2px dashed var(--clr-rose);
  outline-offset: 3px; */
}
/* .email__link{
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
  color: inherit;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  writing-mode: vertical-lr;
} */



/* @media (max-width: 1080px) {
  .email {
    right:20px;
  }
} */
@media (max-width: 900px) {
  .social, .email {
      display:none;
  }
}
@media (min-width: 900px) {
  .social, .email {
      display:block;
  }
}
@media (min-width: 1070px) {
  .social, .email {
      display:none;
  }
}
@media (max-width: 1070px) {
  .scrollup{
    right:25px;
  }
  .show-scroll{
    bottom: 1.5rem;
  }
}
@media (min-width: 1180px) {
  .social, .email {
    display:block;

  }
}
@media(min-width:1330px){
  .social, .email {
    display:none;

  }
}
@media(min-width:1434px){
  .social, .email {
    display:block;
}
}
@media(max-width:1700px){
  .email{
    left:10px;
  }
  .social{
    left: 40px;
  }
}



@media (any-hover: hover){
  .scrollup:hover{
    transform: translateY(-.5rem);
  }
  .scrollup:hover .special{
    transform: translateY(-2rem);
  }
  .scrollup:hover .n_special{
    transform: translateY(-2rem);
  }
  .cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background: var(--clr-light);
    z-index: 9999;
    pointer-events: none;
    /* display: none; */
  }
  .cursor-follow{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 1px solid var(--clr-light);
    z-index:9999;
    pointer-events:none ;
    /* display: none; */
  }
  .social__item>.social__link:hover,.social__item>.social__link:focus {
    /* transform: translateY(-3px); */
    filter: drop-shadow(0px 0px 2px var(--clr-light));
  }
  .email__link:hover,.email__link:focus {
    /* transform: translateY(-3px); */
    /* color: var(--clr-rose); */
    filter: drop-shadow(0px 0px 2px var(--clr-light));
  }
}