:root {
    --clr-dark: #070a13;
    --clr-light: rgb(241, 245, 249);
    --clr-slate400: #D7BBA8;
    --clr-slate600: #746d60;
    --clr-slate800: #694a5b;
    --clr-rose: #ec7490;
    --clr-indigo: #e26d5a;
    --clr-gray:hsl(0 0% 100% /0.2);
    --clr-rose-btn: #ec7490;
    --clr-scrollup:rgba(199, 186, 186, 0.267);
    --color-bg1: rgb(45, 2, 66);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color6: 180, 30, 70;
    --color-interactive: 140, 100, 255;
    --circle-size: 50%;
    --blending: hard-light;
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
  }
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}
.light-mode {
  --clr-light: #070a13;
  --clr-dark: #f1f5f9;
  --clr-slate400: #977b7d;
  --clr-slate600: rgb(39, 1, 70);
  --clr-slate800: #3d302f;
  --clr-gray:rgba(43, 45, 48, 0.3);
  --clr-rose-btn:transparent;
  --clr-scrollup:rgba(10, 10, 10, 0.774);

}
html{
  position: relative;
  height: 100%;
}
body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  position: relative;
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}
button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
a {
  color: var(--clr-rose);
  text-decoration: none;
}

strong {
  color: var(--clr-indigo);
}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track{
  box-shadow: inset 0 0 0px rgba(0,0,0,0);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--clr-rose);
  outline: 1px solid var(--clr-rose);
}
.scrollup{
  position: fixed;
  right: 40px;
  bottom: -50%;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  display: inline-flex;
  padding: 10px;
  font-size: 1.25rem;
  z-index: 9999;
  transition: bottom .4s, transform .4s;
  overflow: hidden;
  border-radius: 20px 5px 10px 5px;

}
.scrollup i{
  transition: .4s;
}
.special{
  position: absolute;
  bottom: -1.5rem;
}
.show-scroll{
  bottom: 2.5rem;
}
.social {
  position: fixed;
  left: auto;
  left: 80px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  margin: 0;
  padding: 0;
  color: var(--clr-light);
  opacity: 1;
  line-height: 1.3;
  list-style: none;
  z-index: 999;
}
.social::after {
  content: "";
  display: block;
  width: 2px;
  height: 50px;
  margin: 0 auto;
  background-color: currentColor;
}
.social__item {
  position: relative;
}
.social__item:last-of-type {
  margin-bottom: 20px;
}
.social__link {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: all .7s cubic-bezier(.645,.045,.355,1);
}
.email {
  position: fixed;
  left: 40px;
  right: auto;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: var(--clr-light);
  line-height: 18px;
  letter-spacing: .1em;
  z-index: 999;
  opacity: 1;
}
.email::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0 auto;
  background-color: currentColor;
}
.email__link {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
  color: inherit;
  transition: all .7s cubic-bezier(.645,.045,.355,1);
  writing-mode: vertical-lr;
  font-weight: 600;
}
@media (max-width: 900px) {
  .social, .email {
      display:none;
  }
}
@media (min-width: 900px) {
  .social, .email {
      display:block;
  }
}
@media (min-width: 1070px) {
  .social, .email {
      display:none;
  }
}
@media (max-width: 1070px) {
  .scrollup{
    right:25px;
  }
  .show-scroll{
    bottom: 1.5rem;
  }
}
@media (min-width: 1180px) {
  .social, .email {
    display:block;

  }
}
@media(min-width:1330px){
  .social, .email {
    display:none;

  }
}
@media(min-width:1434px){
  .social, .email {
    display:block;
}
}
@media(max-width:1700px){
  .email{
    left:10px;
  }
  .social{
    left: 40px;
  }
}
@media (any-hover: hover){
  .scrollup:hover{
    transform: translateY(-.5rem);
  }
  .scrollup:hover .special{
    transform: translateY(-2rem);
  }
  .scrollup:hover .n_special{
    transform: translateY(-2rem);
  }
  .social__item>.social__link:hover,.social__item>.social__link:focus {
    filter: drop-shadow(0px 0px 2px var(--clr-light));
  }
  .email__link:hover,.email__link:focus {
    filter: drop-shadow(0px 0px 2px var(--clr-light));
  }
}