:root {
    --clr-dark: #070a13;
    --clr-light: rgb(241, 245, 249);
    --clr-slate400: #D7BBA8;
    --clr-slate600: #746d60;
    --clr-slate800: #694a5b;
    --clr-rose: #ec7490;
    --clr-indigo: #e26d5a;
    --clr-gray:hsl(0 0% 100% /0.2);
    --clr-rose-btn: #ec7490;
    --color-bg1: rgb(71, 2, 105);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color6: 180, 30, 70;
    --color-interactive: 140, 100, 255;
    --circle-size: 50%;
    --blending: hard-light;
  
    /* rose rgb(225, 29, 72) */
    /* indigo rgb(79, 70, 229) */
  
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
  }
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

.light-mode {
  --clr-light: #070a13;
  --clr-dark: #f1f5f9;
  --clr-slate400: #977b7d;
  --clr-slate600: rgb(39, 1, 70);
  --clr-slate800: #3d302f;
  --clr-gray:rgba(43, 45, 48, 0.3);
  --clr-rose-btn:transparent;
}
/* .conta{
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-dark);
} */
body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
a {
  color: var(--clr-rose);
  text-decoration: none;
}

strong {
  color: var(--clr-indigo);
}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track{
  box-shadow: inset 0 0 0px rgba(0,0,0,0);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--clr-rose);
  outline: 1px solid var(--clr-rose);
}
/* .cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 999;
  pointer-events: none;
}
.cursor-follow{
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 1px solid white;
  z-index:999;
  pointer-events:none ;
} */

@keyframes moveInCircle{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes moveVertical{
  0%{
    transform: translateY(-50%);
  }
  50%{
    transform: translateY(50%);
  }
  100%{
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal{
  0%{
    transform: translateX(-50%) translateY(-10%);
  }
  50%{
    transform: translateX(50%) translateY(10%);
  }
  100%{
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-bg{
  width: 100%;
  height: 700px;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(40deg, var(--clr-rose ), var(--color-bg1));
  bottom: 0px;
  z-index:-2 ;

}

.gradient-bg svg {
    display: none;
  }


.gradient-bg  .gradients-container {
  filter: url(#goo) blur(40px) ;
  width: 100%;
  height: 100%;
}
.g1{
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;
}
.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;

  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;

  opacity: 1;
}
.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;

  opacity: 0.7;
}

.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;

  opacity: 1;
}
/* .g6 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color6), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);


  width: calc(var(--circle-size));
  height: calc(var(--circle-size));
  top: calc(50% - var(--circle-size)+ 100px);
  left: calc(50% - var(--circle-size) + 900px);

  transform-origin: calc(50% + 600px) calc(30% + 400px);
  animation: moveInCircle 60s ease infinite;

  opacity: 1;
} */
.interactive{
  position: fixed;
  mix-blend-mode: var(--blending);
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  width: calc(var(--circle-size) * 1);
  height: calc(var(--circle-size) * 1);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0.7;


}
@media (any-hover: hover){
  .cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background: var(--clr-light);
    z-index: 9999;
    pointer-events: none;
  }
  .cursor-follow{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 1px solid var(--clr-light);
    z-index:9999;
    pointer-events:none ;
  }
}